.fade-enter-active {
  animation: fade 0.5s;
}

.fade-leave-active {
  animation: fade 0.5s reverse;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slide-enter-active {
  animation: slide-down 0.5s;
}

.slide-leave-active {
  animation: slide-down 0.5s reverse;
}

@keyframes slide-down {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(0);
  }
}

.fade-load-leave-active {
  animation: fade 0.5s reverse;
}