/*COLORS*/

.b-green {
  background-color: #58C189;
}

.c-green {
  color: #58C189;
}

.b-blue {
  background-color: #4C64F8;
}

.b-yellow {
  background-color: #FEB836;
}

.c-yellow {
  color: #FEB836;
}

.b-pink {
  background-color: #FA67BF;
}

.c-pink {
  color: #FA67BF;
}