@import url('https://fonts.googleapis.com/css?family=Baloo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.05em;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  position: relative;
  color: rgb(158, 158, 158);
  padding-left: 1.5rem;
  margin: 1rem 0;
}

li::before {
  content: "✔ "; 
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #FA67BF;
}

li:nth-child(2n)::before {
  color: #05AA19;
}

li:nth-child(3n)::before {
  color: #FEB836;
}

a {
  color: rgb(158, 158, 158);
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Baloo', cursive;
  color: #1C2431;
  margin-bottom: 4rem;
  margin-top: 2rem;
  line-height: 2.5rem;
  position: relative;
}

h1::after {
  content: "aaaaa";
  width: 50%;
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  color: transparent;
  text-decoration: underline;
  text-decoration-color: #05AA19;
  font-size: 1.5rem;
  text-decoration-style: wavy;
}

.header-centered {
  text-align: center
}

.header-centered::after {
  text-align: center;
  left: 25%;
}

h2 {
  font-size: 1.2rem;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  color: #1C2431;
  text-align: left;
  margin: 0;
  letter-spacing: 0;
}

p {
  color: rgb(158, 158, 158);
  margin: 1rem 0;
}

@media (min-width: 1024px) {

  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
}